@import "config";

//<-------------------- TAG SELECTOR -------------------->
body {
  @include space;
  @include flex-center(column);
  background-color: colors(Stone-100);
}

h2 {
  margin: 0 0 px-to-rem(-20px) 0;
  color: colors(Brown-800);
}

b {
  color: colors(Stone-600);
}
p {
  color: colors(Stone-600);
}

ul li::marker,
ol li::marker {
  font-weight: bold;
  color: colors(Brown-800);
}
//<-------------------- ID SELECTOR --------------------->

//<-------------------- CLASS SELECTOR ------------------>

//container
.container {
  background-color: colors(White-0);
  border-radius: px-to-rem(20px);
  font-family: $font-Outfit;
  padding: px-to-rem(45px);
  width: px-to-rem(740px);

  @include flex-spacing(column);

  @include design-size {
  }

  h1,
  h2 {
    font-family: $font-Young-Serif;
    font-weight: 500;
  }
}

//picture
.omelette {
  width: 100%;
  border-radius: px-to-rem(15px);
}

//underline
.line {
  border-bottom: solid 1px colors(Stone-150);
  padding: px-to-rem(17px) 0;
}

//preparation time
.preparation-container {
  background-color: colors(Rose-50);
  padding: px-to-rem(30px);
  border-radius: px-to-rem(15px);

  @include flex-spacing(column);

  h3 {
    color: colors(Rose-800);
    font-weight: 600;
    margin: px-to-rem(-4px);
  }

  .preparation-ul {
    @include flex-spacing(column);
    gap: px-to-rem(13px);
    padding-left: px-to-rem(21px);

    li {
      padding-left: px-to-rem(19px);
      color: colors(Stone-600);
    }
  }
}

//ingredients - instructions
.ingredients-container,
.ol-instructions {
  padding-left: px-to-rem(20px);

  li {
    padding: 0.5rem px-to-rem(13px);
  }

  .ingredients-subtitle {
    margin-bottom: px-to-rem(-15px);
  }

  .ul-ingredients li {
    color: colors(Stone-600);
  }
}

//nutrition
.nutrition-subtitle {
  margin-bottom: px-to-rem(12px);
}

.nutritional-values {
  .value-name {
    padding: 0.8rem px-to-rem(33px);
    display: flex;
    justify-content: space-between;
    color: colors(Stone-600);
  }

  .fat {
    margin-bottom: px-to-rem(-10px);
  }

  .total {
    margin-right: px-to-rem(230px);
    width: px-to-rem(50px);
    color: colors(Brown-800);
    font-weight: bold;
  }
}

// FOOTER
.attribution {
  margin-top: px-to-rem(10px);
  font-family: $font-Outfit;
}

.preparation-container,
.ingredients-container,
.ol-instructions {
  padding-left: 0;
}

.value-name {
  padding: 0.8rem px-to-rem(10px);
}

.total {
  margin-right: 0;
  width: auto;
}

// MEDIA MOBILE SCREEN -------------------->

@include respond-to(mobile) {
  body {
    margin: 0;
    //container
    .container {
      border-radius: 0;
      padding: 0 px-to-rem(43px) px-to-rem(40px);
      width: px-to-rem(400px);
      position: relative;
      margin-top: 0 !important;

      .title-container {
        margin-top: px-to-rem(17px);
      }
    }

    //picture
    .omelette-picture {
      height: px-to-rem(180px);
      padding: 0;
      margin: 0;
      width: 100%;

      .omelette {
        width: 100%;
        border-radius: 0;
        position: absolute;
        left: 0;
      }
    }

    //nutrition
    .nutrition-parag {
      width: 310px;
    }

    .nutritional-values {
      position: relative;
      width: 100%;

      .total {
        margin-left: px-to-rem(132px);
        width: px-to-rem(50px);
        position: absolute;
        text-align: left;
      }
    }

    // FOOTER
    .attribution {
      margin: px-to-rem(15px) 0;
      font-family: $font-Outfit;
      font-size: px-to-rem(13px);
    }
  }
}
