* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 3.125rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(30, 54%, 90%);
  height: 1955px;
}

h2 {
  margin: 0 0 -20px 0;
  color: hsl(14, 45%, 36%);
}

b {
  color: hsl(30, 10%, 34%);
}

p {
  color: hsl(30, 10%, 34%);
}

ul li::marker,
ol li::marker {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  font-family: "Outfit", sans-serif;
  padding: 2.8125rem;
  width: 46.25rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
}
.container h1,
.container h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
}

.omelette {
  width: 100%;
  border-radius: 0.9375rem;
}

.line {
  border-bottom: solid 1px hsl(30, 18%, 87%);
  padding: 1.0625rem 0;
}

.preparation-container {
  background-color: hsl(330, 100%, 98%);
  padding: 1.875rem;
  border-radius: 0.9375rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
}
.preparation-container h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  margin: -0.25rem;
}
.preparation-container .preparation-ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
  gap: 0.8125rem;
  padding-left: 1.3125rem;
}
.preparation-container .preparation-ul li {
  padding-left: 1.1875rem;
  color: hsl(30, 10%, 34%);
}

.ingredients-container,
.ol-instructions {
  padding-left: 1.25rem;
}
.ingredients-container li,
.ol-instructions li {
  padding: 0.5rem 0.8125rem;
}
.ingredients-container .ingredients-subtitle,
.ol-instructions .ingredients-subtitle {
  margin-bottom: -0.9375rem;
}
.ingredients-container .ul-ingredients li,
.ol-instructions .ul-ingredients li {
  color: hsl(30, 10%, 34%);
}

.nutrition-subtitle {
  margin-bottom: 0.75rem;
}

.nutritional-values .value-name {
  padding: 0.8rem 2.0625rem;
  display: flex;
  justify-content: space-between;
  color: hsl(30, 10%, 34%);
}
.nutritional-values .fat {
  margin-bottom: -0.625rem;
}
.nutritional-values .total {
  margin-right: 14.375rem;
  width: 3.125rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.attribution {
  margin-top: 0.625rem;
  font-family: "Outfit", sans-serif;
}

@media (max-width: 430px) {
  body .container {
    border-radius: 0;
    padding: 0 2.6875rem 2.5rem;
    width: 25rem;
    position: relative;
  }
  body .title-container {
    margin-top: 17px;
  }
  body .omelette-picture {
    height: 11.25rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  body .omelette-picture .omelette {
    width: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
  }
  body .nutrition-parag {
    width: 310px;
  }
  body .nutritional-values {
    position: relative;
    width: 100%;
  }
  body .nutritional-values .total {
    margin-left: 8.25rem;
    width: 3.125rem;
    position: absolute;
    text-align: left;
  }
  body .attribution {
    margin: 0.9375rem 0;
    font-family: "Outfit", sans-serif;
    font-size: 11px;
  }
}/*# sourceMappingURL=main.css.map */